<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{% static '/lib/layui-v2.6.3/css/layui.css' %}" media="all">
    <link rel="stylesheet" href="{% static '/lib/jq-module/zyupload/zyupload-test.css' %}" media="all">
    <link rel="stylesheet" href="{% static '/css/public.css' %}" media="all">
<style>
    /**必填红点 */
.layui-form > .layui-form-item > .required:after {
    content: '*';
    color: red;
    position: absolute;
    margin-left: 4px;
    font-weight: bold;
    line-height: 1.8em;
    top: 6px;
    right: 5px;
}
.layui-form > .layui-form-item > .layui-input-block > tip {
    display: inline-block;
    margin-top: 10px;
    line-height: 10px;
    font-size: 10px;
    color: #a29c9c;
}



.layui-form > .layui-form-item > .layui-form-label{
    width: 160px;
}
.layui-form > .layui-form-item > .layui-input-block {
    margin-left: 160px;
}


.layui-form > .layui-form-item > .layui-temp>.layui-form-label{
    width: 160px;
}
.layui-form > .layui-form-item > .layui-temp>.layui-input-block {
    margin-left: 160px;
}

.layui-form > .layui-form-item > .layui-inline>.layui-form-label{
    width: 160px;
}
.layui-form > .layui-form-item > .layui-inline>.layui-input-block {
    margin-left: 160px;
}
</style>

<script>
    function RegularNum(obj) {
            obj.value = obj.value.replace(/[^\d.]/g, ""); //清除"数字"和"."以外的字符
            obj.value = obj.value.replace(/^\./g, ""); //验证第一个字符是数字
            obj.value = obj.value.replace(/\.{2,}/g, "."); //只保留第一个, 清除多余的
            obj.value = obj.value.replace(".", "$#$").replace(/\./g, "").replace("$#$", ".");
            obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d\d).*$/, '$1$2.$3'); //只能输入三个小数
        };
    function zhzs(obj){

             obj.value = obj.value.replace(/[^\d]/g,'');
        }
</script>


</head>


  {% if messages %}
        <script>
            {% for msg in messages %}
                //layer.msg('test',{icon:6})
                alert('{{ msg.message }}');
            {% endfor %}
        </script>
    {% endif %}


<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <blockquote class="layui-elem-quote layui-text">
            请在此按照提示输入您需要处理的企业的数据
        </blockquote>

        <form class="layui-form layui-form-pane" id="mainform" action="" method="post" >
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend>基础信息</legend>
            </fieldset>

            <div class="layui-form-item">
                <label class="layui-form-label required">企业名称</label>
                <div class="layui-input-block">
                    <input type="text" name="basic_name" id="basic_name" lay-verify="required" lay-reqtext="企业名称不能为空" placeholder="请输入企业名称"  class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">

                <label class="layui-form-label required">组织机构代码</label>
                <div class="layui-input-block">
                    <input type="text" name="basic_code" id="basic_name" lay-verify="required" lay-reqtext="组织机构代码不能为空" placeholder="请输入组织机构代码"  class="layui-input">
                </div>

            </div>

            <div class="layui-form-item">

                <label class="layui-form-label">成立日期</label>
                    <div class="layui-input-inline">
                        <input type="text" name="basic_date" id="date"  placeholder="日期格式：yyyy-MM-dd" autocomplete="off" class="layui-input">
                    </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">注册资本</label>
                    <div class="layui-input-inline">
                        <input type="number" onKeypress="return(/[\d\.]/.test(String.fromCharCode(event.keyCode)))" name="basic_fund"  autocomplete="off"  placeholder=""  onkeyup="RegularNum(this)" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">（单位：万元）</div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">注册资本币种</label>
                    <div class="layui-input-inline">
                         <select name="basic_fund_kind" lay-filter="fund_kind">
                            <option value="人民币" selected="">人民币￥</option>
                            <option value="美元">美元＄</option>
                            <option value="欧元">欧元€</option>
                            <option value="英镑">英镑￡</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">所属行业</label>
                <div class="layui-input-block">
                    <input type="text" name="basic_ind" id="basic_ind"  placeholder="请输入企业所属行业"  class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">

                <label class="layui-form-label">企业四级行业代码</label>
                <div class="layui-input-block">

                    <input type="text" name="basic_ind_code" id="basic_ind_code"  placeholder="请输入企业四级行业代码"  class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">上市时间</label>
                    <div class="layui-input-inline">
                        <input type="text" name="basic_IPO_time" id="date1"   placeholder="日期格式：yyyy-MM-dd" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">上市交易所</label>
                    <div class="layui-input-block">
                         <select name="basic_exchange" lay-filter="fund_kind">
                            <option value="上海证券交易所" selected="">上海证券交易所</option>
                            <option value="深圳证券交易所">深圳证券交易所</option>
                            <option value="香港证券交易所">香港证券交易所</option>
                            <option value="纽约证券交易所">纽约证券交易所</option>
                            <option value="伦敦证券交易所">伦敦证券交易所</option>
                            <option value="纳斯达克证券交易所">纳斯达克证券交易所</option>
                            <option value="其他证券交易所">其他证券交易所</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" title="所属省/市/区">
                    企业注册地址
                </label>
                <div class="layui-input-block">
                    <div class="layui-input-inline"  style="width: 30%;">
                        <select name="basic_reg_pro" id="province" lay-filter="province" lay-search="" ></select>
                    </div>
                    <div class="layui-input-inline"  style="width: 30%;">
                        <select name="basic_reg_city" id="city" lay-filter="city" lay-search=""></select>
                    </div>
                    <div class="layui-input-inline"  style="width: 30%;">
                        <select name="basic_reg_area" id="area" lay-filter="area" lay-search=""></select>
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" title="所属省/市/区">
                    企业实际地址
                </label>
                <div class="layui-input-block">
                    <div class="layui-input-inline"  style="width: 30%;">
                        <select name="basic_real_pro" id="province2" lay-filter="province2" lay-search=""  ></select>
                    </div>
                    <div class="layui-input-inline"  style="width: 30%;">
                        <select name="basic_real_city" id="city2" lay-filter="city2" lay-search=""></select>
                    </div>
                    <div class="layui-input-inline"  style="width: 30%;">
                        <select name="basic_real_area" id="area2" lay-filter="area2" lay-search=""></select>
                    </div>
                </div>
            </div>

            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend>经营范围</legend>
            </fieldset>

            <div class="layui-form-item">
                <label class="layui-form-label">企业服务领域</label>
                <div class="layui-input-block">
                    <input type="text" name="ser_field" id="ser_field"  placeholder="请输入企业服务领域"  class="layui-input">
                </div>
            </div>

            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend>人才结构</legend>
            </fieldset>

            <div class="layui-form-item">
                <label class="layui-form-label">人才招聘数量</label>
                <div class="layui-input-block">
                    <input type="number" onKeypress="return(/[\d\.]/.test(String.fromCharCode(event.keyCode)))" name="peo_count1" id="peo_count1"  placeholder="请输入企业当年人才招聘数量"  class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">本科以上学历招聘数量</label>
                <div class="layui-input-block">
                    <input type="number" onKeypress="return(/[\d\.]/.test(String.fromCharCode(event.keyCode)))" name="peo_count2" id="peo_count2" placeholder="请输入企业当年本科以上学历招聘数量"  class="layui-input">
                </div>
            </div>


            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend>财务信息</legend>
            </fieldset>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">负债总额</label>
                    <div class="layui-input-block">
                        <input type="number" onKeypress="return(/[\d\.]/.test(String.fromCharCode(event.keyCode)))"  id="debt1"  placeholder="请输入负债总额"  class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">资产总额</label>
                    <div class="layui-input-block">
                        <input type="number" onKeypress="return(/[\d\.]/.test(String.fromCharCode(event.keyCode)))"  id="debt2"  placeholder="请输入资产总额"  class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                     <label class="layui-form-label">总资产负债率(%)</label>
                    <div class="layui-input-block">
                        <input type="number" name="debt" id="debt" readonly="readonly" placeholder=""  class="layui-input">
                    </div>

                </div >
                <div class="layui-inline">
                      <button class="layui-btn" type="button" id="debt_btn"  style="margin: auto" >点击计算</button>
                </div >
                <div>
                    <div class="layui-form-mid layui-word-aux">总资产负债率=负债总额／资产总额</div>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">总资产负债率(%)</label>
                <div class="layui-input-block">
                    <input type="number" onKeypress="return(/[\d\.]/.test(String.fromCharCode(event.keyCode)))" name="debt" id="debt"  placeholder="请输入总资产负债率"  class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">总资产负债率=负债总额／资产总额</div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">产权比率(%)</label>
                <div class="layui-input-block">
                    <input type="number" onKeypress="return(/[\d\.]/.test(String.fromCharCode(event.keyCode)))" name="equity" id="equity"  placeholder="请输入产权比率"  class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">产权比率=负债总额／股东权益</div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">平均净资产</label>
                <div class="layui-input-block">
                    <input type="number" onKeypress="return(/[\d\.]/.test(String.fromCharCode(event.keyCode)))" name="net_worth" id="net_worth"  placeholder="请输入平均净资产"  class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">平均净资产=（股东权益年初数+股东权益年末数）/2</div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">总资产增长率(%)</label>
                <div class="layui-input-block">
                    <input type="number" onKeypress="return(/[\d\.]/.test(String.fromCharCode(event.keyCode)))" name="grate_total" id="grate_total"  placeholder="请输入总资产增长率"  class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">总资产增长率=本年总资产增长额/上年总资产总额（其中，本年总资产增长额=资产总额年末数-资产总额年初数）</div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">营业收入增长率(%)</label>
                <div class="layui-input-block">
                    <input type="number" onKeypress="return(/[\d\.]/.test(String.fromCharCode(event.keyCode)))" name="grate_bus" id="grate_bus"  placeholder="请输入营业收入增长率"  class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">营业收入增长率=（本年营业收入-上年营业收入）/上年营业收入</div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">企业纳税总额</label>
                <div class="layui-input-block">
                    <input type="number" onKeypress="return(/[\d\.]/.test(String.fromCharCode(event.keyCode)))" name="tax" id="tax"  placeholder="请输入企业当年纳税总额企业当年纳税总额"  class="layui-input">
                </div>
            </div>

            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend>专利/知识产权</legend>
            </fieldset>

            <div class="layui-form-item">
                <label class="layui-form-label">发明专利总数</label>
                <div class="layui-input-block">
                    <input type="number" onKeypress="return(/[\d\.]/.test(String.fromCharCode(event.keyCode)))" name="ip_total" id="ip_total"  placeholder="请输入截至本年企业申请的发明专利总数"  class="layui-input">
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label">高级专利数量</label>
                <div class="layui-input-block">
                    <input type="number" onKeypress="return(/[\d\.]/.test(String.fromCharCode(event.keyCode)))" name="ap_total" id="ap_total"  placeholder="请输入企业截至当年IPC类别（二级分类，例如A01）前10类及对应的专利数量"  class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">合作开发专利数</label>
                <div class="layui-input-block">
                    <input type="number" onKeypress="return(/[\d\.]/.test(String.fromCharCode(event.keyCode)))" name="jp_total" id="jp_total"  placeholder="请输入企业本年合作开发申请专利数"  class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">软件著作数量</label>
                <div class="layui-input-block">
                    <input type="number" onKeypress="return(/[\d\.]/.test(String.fromCharCode(event.keyCode)))" name="sp_total" id="sp_total"  placeholder="请输入截至当年企业软件著作累计数量"  class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">参与制定新标准数</label>
                <div class="layui-input-block">
                    <input type="number" onKeypress="return(/[\d\.]/.test(String.fromCharCode(event.keyCode)))" name="ns_total" id="ns_total"  placeholder="请输入截至当年参与制定新标准数"  class="layui-input">
                </div>
            </div>

            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend>信息化建设</legend>
            </fieldset>

            <div class="layui-form-item">
                <label class="layui-form-label">信息化平台数量</label>
                <div class="layui-input-block">
                    <input type="number" onKeypress="return(/[\d\.]/.test(String.fromCharCode(event.keyCode)))" name="inforplat_total" id="inforplat_total"  placeholder="请输入企业APP、网站、公众号等信息化平台的数量"  class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">ICP申请数</label>
                <div class="layui-input-block">
                    <input type="number" onKeypress="return(/[\d\.]/.test(String.fromCharCode(event.keyCode)))" name="icp_total" id="icp_total"  placeholder="请输入企业截至当年ICP申请的数量"  class="layui-input">
                </div>
            </div>

            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend>企业荣誉和信用</legend>
            </fieldset>

            <div class="layui-form-item">
                <label class="layui-form-label">获得荣誉数量</label>
                <div class="layui-input-block">
                    <input type="number" onKeypress="return(/[\d\.]/.test(String.fromCharCode(event.keyCode)))" name="honor_total" id="honor_total"  placeholder="请输入企业截止当年获得的荣誉数量"  class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">A级纳税人</label>
                <div class="layui-input-block">
                    <input type="radio" name="a_taxpayer" value="是" title="是" checked="">
                    <input type="radio" name="a_taxpayer" value="否" title="否">
                </div>
                 <div class="layui-form-mid layui-word-aux">企业当年是否被评为A级纳税人</div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">是否失信被执行</label>
                <div class="layui-input-block">
                    <input type="radio" name="dishonesty" value="是" title="是" checked="">
                    <input type="radio" name="dishonesty" value="否" title="否">
                </div>
                 <div class="layui-form-mid layui-word-aux">企业近3年是否失信被执行</div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">民事诉讼数量</label>
                <div class="layui-input-block">
                    <input type="number" onKeypress="return(/[\d\.]/.test(String.fromCharCode(event.keyCode)))" name="lawsuit_total" id="lawsuit_total"  placeholder="请输入企业当年被民事诉讼的数量"  class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">是否受到环保处罚</label>
                <div class="layui-input-block">
                    <input type="radio" name="is_ep" value="是" title="是" checked="">
                    <input type="radio" name="is_ep" value="否" title="否">
                </div>
                 <div class="layui-form-mid layui-word-aux">企业当年是否受到环保处罚</div>
            </div>

             <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend>对外投资和招投标</legend>
            </fieldset>

            <div class="layui-form-item">
                <label class="layui-form-label">企业投资总次数</label>
                <div class="layui-input-block">
                    <input type="number" onKeypress="return(/[\d\.]/.test(String.fromCharCode(event.keyCode)))" name="invest_time" id="invest_time"  placeholder="请输入截至当年企业投资的总次数"  class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">企业投资总金额</label>
                <div class="layui-input-block">
                    <input type="number" onKeypress="return(/[\d\.]/.test(String.fromCharCode(event.keyCode)))" name="invest_amount" id="invest_amount"  placeholder="请输入截至当年企业投资的总金额"  class="layui-input">
                </div>
            </div>

             <div class="layui-form-item">
                <label class="layui-form-label">企业参与招标次数</label>
                <div class="layui-input-block">
                    <input type="number" onKeypress="return(/[\d\.]/.test(String.fromCharCode(event.keyCode)))" name="bidding_time" id="bidding_time"  placeholder="请输入截至当年企业参与政府招标的总次数"  class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">企业参与招标总金额</label>
                <div class="layui-input-block">
                    <input type="number" onKeypress="return(/[\d\.]/.test(String.fromCharCode(event.keyCode)))" name="bidding_amount" id="bidding_amount"  placeholder="请输入截至当年企业参与政府招标的总金额"  class="layui-input">
                </div>
            </div>

             <div class="layui-form-item" style="margin: auto">
                    <button class="layui-btn" type="button" id="submit_btn" lay-submit="" lay-filter="demo1" style="margin: auto" >立即提交</button>
             </div>

        </form>

    </div>
</div>

<script src="{% static '/lib/layui-v2.6.3/layui.js' %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static '/lib/area.js' %}" ></script>

<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>

    function btn_submit()
    {
        document.getElementById("mainform").submit();
    }

    layui.use(['form', 'layedit', 'laydate'], function () {
        var $ = layui.jquery;
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;

        //var layArea =layui.layArea

        function maxDate()
        {
            var now = new Date();
            //alert(now.getFullYear() + "-" + (now.getMonth() + '-' + now.getDate());
            return now.getFullYear() + "-" + (now.getMonth()+1) + '-' + now.getDate();
        }

        //日期
        laydate.render({
            elem: '#date',
            max: maxDate()
        });
        laydate.render({
            elem: '#date1',
            max: maxDate()
        });

        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor');

        //自定义验证规则
        form.verify({
            title: function (value) {
                if (value.length < 5) {
                    return '标题至少得5个字符啊';
                }
            }
            , pass: [
                /^[\S]{6,12}$/
                , '密码必须6到12位，且不能出现空格'
            ]
            , content: function (value) {
                layedit.sync(editIndex);
            }
        });


        form.verify({
          Ndouble:[
              /^[1-9]\d*$/
              ,'只能输入整数哦'
          ]
      });

        //监听指定开关
        form.on('switch(switchTest)', function (data) {
            layer.msg('开关checked：' + (this.checked ? 'true' : 'false'), {
                offset: '6px'
            });
            layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
        });

        //监听提交

        form.on('submit(demo1)', function (data) {
           /* layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息'
            })*/
            btn_submit()
        });

        //表单初始赋值
        form.val('example', {
            "username": "贤心" // "name": "value"
            , "password": "123456"
            , "interest": 1
            , "like[write]": true //复选框选中状态
            , "close": true //开关状态
            , "sex": "女"
            , "desc": "我爱 layui"
        })

        function loadAddress(array, lables, notId,title) {

            var s = '<option value="">'+title+'</option>';
            if (array) {
                for (var i = 0; i < array.length; i++) {
                    var obj = array[i];
                    s += '<option value="' + obj.address + '" lay-id="' + obj.code + '">' + obj.address + '</option>';
                }
            }
            $(notId).empty();
            $(lables).html(s);
            form.render("select");
        }

            // 省级选择，获取市
        form.on('select(province)', function (data) {
            //alert("test4")
            var array = layArea.getCityList(data.value);
            loadAddress(array, "#city", "#city,#area","")
        });

        // 市级选择，获取地区/县
        form.on('select(city)', function (data) {
            var name1 = $("#province").val();
            var array = layArea.getAreaList(name1, data.value);
            loadAddress(array, "#area", "#area","")
        });


        // 加载省份
        loadAddress(layArea.array, "#province", "#city,#area","");

         form.on('select(province2)', function (data) {
            //alert("test4")
            var array = layArea.getCityList(data.value);
            loadAddress(array, "#city2", "#city2,#area2","")
        });

        // 市级选择，获取地区/县
        form.on('select(city2)', function (data) {
            var name1 = $("#province2").val();
            var array = layArea.getAreaList(name1, data.value);
            loadAddress(array, "#area2", "#area2","")
        });

        loadAddress(layArea.array, "#province2", "#city2,#area2","");

    });
</script>

</body>
</html>