<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{% static '/lib/layui-v2.6.3/css/layui.css' %}" media="all">
    <link rel="stylesheet" href="{% static '/css/public.css' %}" media="all">
</head>
<body>
<div class="layuimini-container" >
    <div class="layuimini-main"  >

        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width: 15%;" >企业名称</label>
                        <div class="layui-input-inline" style="width: 25%;" >
                             <input type="text" name="basic_name" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width: 15%;" >组织机构代码</label>
                        <div class="layui-input-inline" style="width: 25%;" >
                            <input type="text" name="basic_id" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width: 15%;" >数据项ID</label>
                        <div class="layui-input-inline" style="width: 25%;" >
                            <input type="text" name="id" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label" title="所属省/市/区" style="width: 15%;" >
                             企业注册地址
                        </label>
                        <div class="layui-input-block">
                            <div class="layui-input-inline"  style="width: 25%;">
                                <select name="basic_reg_pro" id="province" lay-filter="province" lay-search="" ></select>
                            </div>
                            <div class="layui-input-inline"  style="width: 25%;">
                                <select name="basic_reg_city" id="city" lay-filter="city" lay-search=""></select>
                            </div>
                            <div class="layui-input-inline"  style="width: 25%;">
                                <select name="basic_reg_area" id="area" lay-filter="area" lay-search=""></select>
                            </div>
                        </div>
                    </div>

                <div class="layui-form-item">
                        <label class="layui-form-label" title="所属省/市/区" style="width: 15%;" >
                            企业实际地址
                        </label>
                        <div class="layui-input-block">
                            <div class="layui-input-inline"  style="width: 25%;">
                                <select name="basic_real_pro" id="province2" lay-filter="province2" lay-search=""  ></select>
                            </div>
                            <div class="layui-input-inline"  style="width:25%;">
                                <select name="basic_real_city" id="city2" lay-filter="city2" lay-search=""></select>
                            </div>
                            <div class="layui-input-inline"  style="width: 25%;">
                                <select name="basic_real_area" id="area2" lay-filter="area2" lay-search=""></select>
                            </div>
                </div>
            </div>
                <div class="layui-inline">
                    <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                </div>
                </form>
            </div>
        </fieldset>
        <blockquote class="layui-elem-quote">
            请选择你需要下载数据的企业
        </blockquote>
        <script type="text/html" id="toolbarDemo">
            <legend style="font-size: large;color: #0a862d;" ><b>可供下载企业信息表</b></legend>
            <div class="layui-btn-container">
                <!--button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加 </button-->
                <!--button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 删除 </button-->
            </div>
        </script>
        <form class="layui-form layui-form-pane" id="mainform" action="/ent/download_data" method="post" >
        <table class="layui-hide" id="currentTableId" name="testtable" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="show_detail">查看企业详细信息</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-download" lay-event="download">下载</a>
            <!--a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a-->
        </script>

        <div style="margin: auto">
            <button class="layui-btn" name="submit_btn" type="button" id="submit_btn" lay-submit="" lay-filter="download_btn" style="margin: auto" >点击下载</button>
        </div>
        </form>
    </div>
</div>
<script src="{% static '/lib/layui-v2.6.3/layui.js' %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static '/lib/area.js' %}" ></script>




<script>
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        table.render({
            elem: '#currentTableId',
            url: '/ent/get_ent_data_all',
            method:'post',
            //skin:"row",
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print'],
            request:{
                pageName:'pageIndex',
                limitName:'pageSize'
            },
            response:{
                statusName:'code',
                statusCode:0,
                msgName:'msg',
                countName:'DataCount',
                dataName:'data'
            },
            cols: [[
                {type: "checkbox", minWidth: 50,},
                {field: 't_id', minWidth: 90, title: '数据项ID', sort: true,},
                {field: 'name', minWidth: 100, title: '企业名称', sort: true},
                {field: 'id', minWidth: 100, title: '组织机构代码', sort: true},
                {field: 'c_date', minWidth: 100, title: '成立日期', sort: true},
                //{field: 'fund', minWidth: 150, title: '注册资本',sort:true},
                //{field: 'fund_kind', minWidth: 100, title: '注册资本币种',sort:true},
                //{field: 'ind_code', minWidth: 100, title: '企业四级行业代码', sort: true},
                {field: 'ipo_time', minWidth: 100, title: '上市时间', sort: true},
                //{field: 'exchange', minWidth: 100, title: '上市交易所', sort: true},
                {field: 'reg_add', minWidth:150, title: '企业注册地址', sort:true},
                {field: 'real_add', minWidth: 150, title: '企业实际地址', sort: true},
                {field: 'c_time', minWidth: 150, title: '数据上传时间', sort: true},
                {title: '操作', minWidth: 200, toolbar: '#currentTableBar', align: "center"}
            ]],
            limits: [5, 10,15, 20, 25, 50, 100],
            limit: 10,
            page: true,
            skin: 'line'
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            var result = JSON.stringify(data.field);
            /*layer.alert(result, {
                title: '最终的搜索信息'
            });*/

            //执行搜索重载
            table.reload('currentTableId', {
                url: '/ent/search_ent_info_all',
                method: "POST",
                page: {
                    curr: 1
                }
                , where: {
                    searchParams: result
                }
            }, 'data');

            return false;
        });


           function loadAddress(array, lables, notId,title) {

            var s = '<option value="">'+title+'</option>';
            if (array) {
                for (var i = 0; i < array.length; i++) {
                    var obj = array[i];
                    s += '<option value="' + obj.address + '" lay-id="' + obj.code + '">' + obj.address + '</option>';
                }
            }
            //$(notId).empty();
            $(lables).html(s);
            form.render("select");
        }

            // 省级选择，获取市
        form.on('select(province)', function (data) {
            //alert("test4")
            var array = layArea.getCityList(data.value);
            loadAddress(array, "#city", "#city,#area","")
        });

        // 市级选择，获取地区/县
        form.on('select(city)', function (data) {
            var name1 = $("#province").val();
            var array = layArea.getAreaList(name1, data.value);
            loadAddress(array, "#area", "#area","")
        });


        // 加载省份
        loadAddress(layArea.array, "#province", "#city,#area","");

         form.on('select(province2)', function (data) {
            //alert("test4")
            var array = layArea.getCityList(data.value);
            loadAddress(array, "#city2", "#city2,#area2","")
        });

        // 市级选择，获取地区/县
        form.on('select(city2)', function (data) {
            var name1 = $("#province2").val();
            var array = layArea.getAreaList(name1, data.value);
            loadAddress(array, "#area2", "#area2","")
        });

        loadAddress(layArea.array, "#province2", "#city2,#area2","");


        // 监听搜索操作
        form.on('submit(download_btn)', function (data) {
            //alert("test")



            //执行搜索重载
            var checkStatus = table.checkStatus('currentTableId')
                    , data = checkStatus.data;
            var result = JSON.stringify(data);
            //alert(data.length)
            if(data.length<1)
            {
                layer.msg("请选择下载的企业信息",{icon:5})
            }
            else
            {
                //document.getElementById("mainform").submit();
                form = $("<form></form>")
                form.attr('action',"/ent/download_data")
                form.attr('method','post')
                input1 = $("<input type='hidden' name='ids' />")
                input1.val(result)
                //input1.attr(result)
                form.append(input1)
                form.appendTo("body")
                form.css('display','none')
                form.submit()
            }
            /*

            //layer.confirm('确认进行下载？', function (index) {
                $.ajax({
                    type: "POST",
                    url: '/ent/download_data',
                    data: {
                        "ids": result
                    },
                    text: "json",
                    success: function (response,status,request) {
                        alert("test")
                        console.log(data);
                        DownloadCsv(data, '企业数据.csv')

                    },

                            error : function(XMLHttpRequest, textStatus, errorThrown) {
                                //这个error函数调试时非常有用，如果解析不正确，将会弹出错误框
                                　　　　alert(XMLHttpRequest.responseText);
                                alert(XMLHttpRequest.status);
                                alert(XMLHttpRequest.readyState);
                                alert(textStatus); // parser error;
                            }
                })
           // })
/*
                layer.confirm('确认进行下载？', function (index) {
                table.reload('currentTableId', {
                url: '/ent/download_data',
                method: "POST",
                page: {
                    curr: 1
                }
                , where: {
                    ids: result,
                }
            }, 'data'),
                //layer.msg("预处理成功提交", {icon: 6});
                layer.close(index)
                });*/
            return false;
        });

        const DownloadCsv = (function() {
          const a = document.createElement("a");
          document.body.appendChild(a);
          a.style = "display: none";
          return function(data, fileName) {
            const blob = new Blob([data], {type: "octet/stream"}),
              url = window.URL.createObjectURL(blob);
            a.href = url;
            a.download = fileName;
            a.click();
            window.URL.revokeObjectURL(url);
          };
        }());


        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;

            if (obj.event === 'show_detail') {
                 var id = $("#id").val();
                 var index = layer.open({
                    title: '查看完整信息',
                     data:{
                        id:"test",
                     },

                    method:"post",
                    type: 2,
                    area: ['720px', '500px'],
                    shade: 0.6,
                    maxmin:true,
                    shadeClose: true,
                    closeBtn:1,
                    area: ['100%', '100%'],
                    content: '/ent/get_data_detail/'+obj.data['t_id']
                });


                return false;
            } else if (obj.event === 'download') {
                layer.confirm('确认进行下载？', function (index) {
                var id = $("#t_id").val();
                 window.location.href="/ent/download_singleinfo/"+obj.data['t_id']
                    $.ajax({
                        url:"/ent/download_singleinfo",
                        type:'GET',
                        data:{'id':obj.data['t_id']},
                        success:function(recv){
                         //   layer.msg("成功删除此行数据",{icon:6});
                        }
                    });
                    //obj.del();
                    layer.close(index);
                });
            }
        });

    });
</script>

</body>
</html>