<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>zyupload上传实例</title>
    <link rel="stylesheet" href="{% static '/lib/layui-v2.6.3/css/layui.css' %}" media="all">
    <link rel="stylesheet" href="{% static '/lib/jq-module/zyupload/zyupload-test.css' %}" media="all">
    <link rel="stylesheet" href="{% static '/css/public.css' %}" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <blockquote class="layui-elem-quote">
            请在此处上传您所需要处理的企业数据，可用的数据格式包括csv、xlsx、xls，文件大小限制为<20MB<br>
            具体数据表可见此样表：
            <a href="/ent/data_download" target="_blank" class="layui-btn layui-btn-danger">点击下载</a>
        </blockquote>
        <div id="zyupload" class="zyupload"></div>
    </div>
</div>
<script src="{% static '/lib/jquery-3.4.1/jquery-3.4.1.min.js' %}" charset="utf-8"></script>
<script src="{% static '/lib/layui-v2.6.3/layui.js' %}" charset="utf-8"></script>
<script src="{% static '/lib/jq-module/zyupload/zyupload.js' %}" charset="utf-8"></script>
<script type="text/javascript">
    $(function () {
        // 初始化插件
        $("#zyupload").zyUpload({
            width: "640px",                 // 宽度
            height: "400px",                 // 宽度
            itemWidth: "180px",                 // 文件项的宽度
            itemHeight: "115px",                 // 文件项的高度
            url: "/ent/uploadFile",  // 上传文件的路径
            fileType: ["xls","csv","xlsx"],// 上传文件的类型
            fileSize: 20971520,                // 上传文件的大小
            multiple: false,                    // 是否可以多个文件上传
            dragDrop: true,                    // 是否可以拖动上传文件
            tailor: false,                    // 是否可以裁剪图片
            del: true,                    // 是否可以删除文件
            edit:false,
            finishDel: false,  				  // 是否在上传文件完成后删除预览
            method:"POST",
            /* 外部获得的回调接口 */
            onSelect: function (selectFiles, allFiles) {    // 选择文件的回调方法  selectFile:当前选中的文件  allFiles:还没上传的全部文件
                console.info("当前选择了以下等文件：");
                console.info(selectFiles);
            },
            onDelete: function (file, files) {              // 删除一个文件的回调方法 file:当前删除的文件  files:删除之后的文件
                console.info("当前删除了此文件：");
                console.info(file.name);
            },
            onSuccess: function (file, response) {          // 文件上传成功的回调方法
                console.info("此文件上传成功：");
                console.info(file.name);
                console.info("此文件上传到服务器地址：");
                console.info(response);
                $("#uploadInf").append("<p>" + response + "</p>");
                layer.msg(response, {icon: 6});
            },
            onFailure: function (file, response) {          // 文件上传失败的回调方法
                console.info("此文件上传失败：");
                console.info(file.name);
            },
            onComplete: function (response) {           	  // 上传完成的回调方法
                console.info("文件上传完成");
                console.info(response);
            }
        });

    });
</script>

</body>
</html>