<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{% static '/lib/layui-v2.6.3/css/layui.css' %}" media="all">
    <link rel="stylesheet" href="{% static '/css/public.css' %}" media="all">
</head>
<body>
<div class="layuimini-container" >
    <div class="layuimini-main"  >

        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width: 15%;" >企业名称</label>
                        <div class="layui-input-inline" style="width: 25%;" >
                             <input type="text" name="basic_name" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width: 15%;" >组织机构代码</label>
                        <div class="layui-input-inline" style="width: 25%;" >
                            <input type="text" name="basic_id" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width: 15%;" >数据项ID</label>
                        <div class="layui-input-inline" style="width: 25%;" >
                            <input type="text" name="id" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label" title="所属省/市/区" style="width: 15%;" >
                             企业注册地址
                        </label>
                        <div class="layui-input-block">
                            <div class="layui-input-inline"  style="width: 25%;">
                                <select name="basic_reg_pro" id="province" lay-filter="province" lay-search="" ></select>
                            </div>
                            <div class="layui-input-inline"  style="width: 25%;">
                                <select name="basic_reg_city" id="city" lay-filter="city" lay-search=""></select>
                            </div>
                            <div class="layui-input-inline"  style="width: 25%;">
                                <select name="basic_reg_area" id="area" lay-filter="area" lay-search=""></select>
                            </div>
                        </div>
                    </div>

                <div class="layui-form-item">
                        <label class="layui-form-label" title="所属省/市/区" style="width: 15%;" >
                            企业实际地址
                        </label>
                        <div class="layui-input-block">
                            <div class="layui-input-inline"  style="width: 25%;">
                                <select name="basic_real_pro" id="province2" lay-filter="province2" lay-search=""  ></select>
                            </div>
                            <div class="layui-input-inline"  style="width:25%;">
                                <select name="basic_real_city" id="city2" lay-filter="city2" lay-search=""></select>
                            </div>
                            <div class="layui-input-inline"  style="width: 25%;">
                                <select name="basic_real_area" id="area2" lay-filter="area2" lay-search=""></select>
                            </div>
                </div>
            </div>
                <div class="layui-inline">
                    <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <!--button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加 </button-->
                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 删除 </button>
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="show_detail">查看企业详细信息</a>
            <!--a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a-->
        </script>

    </div>
</div>
<script src="{% static '/lib/layui-v2.6.3/layui.js' %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static '/lib/area.js' %}" ></script>
<script>
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        table.render({
            elem: '#currentTableId',
            url: '/ent/get_ent_data',
            method:'post',
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print'],
            request:{
                pageName:'pageIndex',
                limitName:'pageSize'
            },
            response:{
                statusName:'code',
                statusCode:0,
                msgName:'msg',
                countName:'DataCount',
                dataName:'data'
            },
            cols: [[
                {type: "checkbox", minWidth: 50},
                {field: 't_id', minWidth: 90, title: '数据项ID', sort: true},
                {field: 'name', minWidth: 100, title: '企业名称', sort: true},
                {field: 'id', minWidth: 150, title: '组织机构代码', sort: true},
                {field: 'c_date', minWidth: 100, title: '成立日期', sort: true},
                //{field: 'fund', minWidth: 150, title: '注册资本',sort:true},
                //{field: 'fund_kind', minWidth: 100, title: '注册资本币种',sort:true},
                //{field: 'ind_code', minWidth: 100, title: '企业四级行业代码', sort: true},
                {field: 'ipo_time', minWidth: 100, title: '上市时间', sort: true},
                //{field: 'exchange', minWidth: 100, title: '上市交易所', sort: true},
                {field: 'reg_add', minWidth:150, title: '企业注册地址', sort:true},
                {field: 'real_add', minWidth: 150, title: '企业实际地址', sort: true},
                {field: 'c_time', minWidth: 150, title: '数据上传时间', sort: true},
                {title: '操作', minWidth: 150, toolbar: '#currentTableBar', align: "center"}
            ]],
            limits: [5, 10,15, 20, 25, 50, 100],
            limit: 10,
            page: true,
            skin: 'line'
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            var result = JSON.stringify(data.field);
            /*layer.alert(result, {
                title: '最终的搜索信息'
            });*/

            //执行搜索重载
            table.reload('currentTableId', {
                url: '/ent/search_ent_info',
                method: "POST",
                page: {
                    curr: 1
                }
                , where: {
                    searchParams: result
                }
            }, 'data');

            return false;
        });

        function loadAddress(array, lables, notId,title) {

            var s = '<option value="">'+title+'</option>';
            if (array) {
                for (var i = 0; i < array.length; i++) {
                    var obj = array[i];
                    s += '<option value="' + obj.address + '" lay-id="' + obj.code + '">' + obj.address + '</option>';
                }
            }
            //$(notId).empty();
            $(lables).html(s);
            form.render("select");
        }

            // 省级选择，获取市
        form.on('select(province)', function (data) {
            //alert("test4")
            var array = layArea.getCityList(data.value);
            loadAddress(array, "#city", "#city,#area","")
        });

        // 市级选择，获取地区/县
        form.on('select(city)', function (data) {
            var name1 = $("#province").val();
            var array = layArea.getAreaList(name1, data.value);
            loadAddress(array, "#area", "#area","")
        });


        // 加载省份
        loadAddress(layArea.array, "#province", "#city,#area","");

         form.on('select(province2)', function (data) {
            //alert("test4")
            var array = layArea.getCityList(data.value);
            loadAddress(array, "#city2", "#city2,#area2","")
        });

        // 市级选择，获取地区/县
        form.on('select(city2)', function (data) {
            var name1 = $("#province2").val();
            var array = layArea.getAreaList(name1, data.value);
            loadAddress(array, "#area2", "#area2","")
        });

        loadAddress(layArea.array, "#province2", "#city2,#area2","");

        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {  // 监听添加操作
                var index = layer.open({
                    title: '添加用户',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: '{% static '/page/table/add.html' %}',
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            } else if (obj.event === 'delete') {  // 监听删除操作
                var checkStatus = table.checkStatus('currentTableId')
                    , data = checkStatus.data;
                var result = JSON.stringify(data)
                layer.confirm('确认进行删除？', function (index) {
                table.reload('currentTableId', {
                url: '/admin/delete_pageinfo',
                method: "GET",
                page: {
                    curr: 1
                }
                , where: {
                    searchParams: result
                }
            }, 'data'),
                layer.msg("修改已完成", {icon: 6});
                layer.close(index)});
            }
        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;

            if (obj.event === 'show_detail') {
                 var id = $("#id").val();
                 var index = layer.open({
                    title: '查看完整信息',
                     data:{
                        id:"test",
                     },

                    method:"post",
                    type: 2,
                    area: ['720px', '500px'],
                    shade: 0.6,
                    maxmin:true,
                    shadeClose: true,
                    closeBtn:1,
                    area: ['100%', '100%'],
                    content: '/ent/get_data_detail/'+obj.data['t_id']
                });

                 /*
                 layer.prompt({ formType:2, title: "编辑表格",btn:['修改数据','关闭'],anim: 4,
                      content:`<div>
                                    账号ID: <input type="text"  style='display:inline-block' disabled="disabled" id="id"><br><br>
                                    用户名: <input type="text" style='display:inline-block' id="name"  autocomplete="off"><br><br>
                                    邮&nbsp&nbsp&nbsp&nbsp箱: <input type="text" lay-verify="email" style='display:inline-block'  autocomplete="off" id="email"><br><br>
                                    手机号: <input type="text" style='display:inline-block' lay-verify="phone" id="mobile"  autocomplete="off" ><br><br>
                                    用户类型：<select id="type">
                                                <option value="企业用户">企业用户</option>
                                                <option value="政府用户">政府用户</option>
                                                <option value="管理员用户">管理员用户</option>
                                                <option value="专家用户">专家用户</option>
                                            </select>
                               </div>`,
                      yes:function (index,layero)
                      {
                          console.log("点击yes触发事件:" + index);
                          var id = $("#id").val();
                          var name = $("#name").val();
                          var email = $("#email").val();
                          var mobile = $("#mobile").val();
                          var type =  $("#type").val();
                          $.ajax({
                              url: "/admin/update_singleinfo",
                              type: "get",
                              data: {"id": id,
                                      "name": name,
                                      "email": email,
                                      "mobile": mobile,
                                      "type":type
                              },
                              success:function (recv) {
                                // 修改完成后,本地直接更新数据,这样就无需刷新一次了
                                  obj.update({
                                      id: id,
                                      name: name,
                                      email: email,
                                      mobile: mobile,
                                      type: type
                                  });
                                  layer.msg("修改已完成", {icon: 6});
                                  layer.close(index);
                              }
                          });
                      }
                  });
                      $("#id").val(data.id);
                      $("#name").val(data.name);
                      $("#email").val(data.email);
                      $("#mobile").val(data.mobile);
                      $("#type").val(data.type)
*/
                return false;
            } else if (obj.event === 'delete') {
                layer.confirm('确认进行删除？', function (index) {

                    $.ajax({
                        url:"/admin/delete_singleinfo",
                        type:'GET',
                        data:{'id':obj.data['id']},
                        success:function(recv){
                            layer.msg("成功删除此行数据",{icon:6});
                        }
                    });
                    obj.del();
                    layer.close(index);
                });
            }
        });

    });
</script>

</body>
</html>