<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{% static '/lib/layui-v2.6.3/css/layui.css' %}" media="all">
    <link rel="stylesheet" href="{% static '/css/public.css' %}" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <form class="layui-form layui-form-pane" id="mainform" action="" method="post" >
        <script type="text/html" id="toolbarDemo">
            <legend style="font-size: large;color: #0a862d;" ><b>需进行预处理的企业表</b></legend>
            <div class="layui-btn-container">
                <!--button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加 </button-->
                <!--button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 删除 </button-->
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="show_detail">详细信息</a>
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="update">修改信息</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
            <!--a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a-->
        </script>

        <div class="layui-form-item">
                <label class="layui-form-label" style="width: 150px" >请选择补全算法</label>
                <div class="layui-input-block">
                    <input type="radio" id="alg" name="alg" value="GAIN" lay-skin="primary" title="GAIN" checked="">
                    <input type="radio" id="alg" name="alg" value="VAEGAIN" title="VAEGAIN">
                    <input type="radio" id="alg" name="alg" value="SCIS" title="SCIS" >
                </div>
                 <blockquote class="layui-elem-quote">
                    GAIN算法：GAIN (Generative Adversarial Imputation Networks) 算法是一种用于缺失数据填充的生成对抗网络（GAN）算法。
                    它能够有效地处理缺失数据，通过对抗性训练，生成器可以生成接近真实数据的填充值。
                    它的局限性在于，对于大规模的数据集，训练生成器和判别器可能会消耗大量的时间。
                    GAIN算法适用于规模相对较小的数据集。
                </blockquote>
                <blockquote class="layui-elem-quote">
                    VAEGAIN算法：VAEGAIN是一种用于缺失数据填充的生成式模型。
                    它结合了变分自动编码器（Variational Autoencoder，VAE）和生成对抗网络（Generative Adversarial Network，GAN）的思想。
                    在GAIN的基础上引入VAE，可以提高缺失数据填充的准确性、多样性和连续性，使得填充结果更加贴近原始数据的分布和特征。
                    VAEGAIN算法适用于规模相对较小的数据集。
                </blockquote>
                <blockquote class="layui-elem-quote">
                    SCIS算法：SCIS算法是GAIN算法的一种改进版本。
                    它通过使用合适大小的样本来训练生成对抗网络输入模型，从而提高模型训练速度。
                    在大规模数据集上，它可以在更短时间内完成模型训练，同时保证精度基本不变。
                    SCIS算法适用于大规模数据集。
                </blockquote>
        </div>

        <div style="margin: auto">
            <button class="layui-btn" name="submit_btn" type="button" id="submit_btn" lay-submit="" lay-filter="submit_btn" style="margin: auto" >点击进行预处理</button>
        </div>
        </form>
    </div>
</div>

<script src="{% static '/lib/layui-v2.6.3/layui.js' %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static '/lib/area.js' %}" ></script>
<script>
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery;
        var form = layui.form,
            table = layui.table;

        table.render({
            elem: '#currentTableId',
            url: '/ent/get_ent_pre_data',
            method:'post',
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print'],
            request:{
                pageName:'pageIndex',
                limitName:'pageSize'
            },
            response:{
                statusName:'code',
                statusCode:0,
                msgName:'msg',
                countName:'DataCount',
                dataName:'data'
            },
            cols: [[


                {type: "checkbox", minWidth: 50},
                {field: 't_id', minWidth: 90, title: '数据项ID', sort: true},
                {field: 'name', minWidth: 100, title: '企业名称', sort: true},
                {field: 'id', minWidth: 150, title: '组织机构代码', sort: true},
                {field: 'c_date', minWidth: 100, title: '成立日期', sort: true},
                //{field: 'fund', minWidth: 150, title: '注册资本',sort:true},
                //{field: 'fund_kind', minWidth: 100, title: '注册资本币种',sort:true},
                //{field: 'ind_code', minWidth: 100, title: '企业四级行业代码', sort: true},
                {field: 'ipo_time', minWidth: 100, title: '上市时间', sort: true},
                //{field: 'exchange', minWidth: 100, title: '上市交易所', sort: true},
                {field: 'reg_add', minWidth:150, title: '企业注册地址', sort:true},
                {field: 'real_add', minWidth: 150, title: '企业实际地址', sort: true},
                {field: 'c_time', minWidth: 150, title: '数据上传时间', sort: true},
                {title: '操作', minWidth: 250, toolbar: '#currentTableBar', align: "center"}
            ]],
            limits: [5, 10,15, 20, 25, 50, 100],
            limit: 10,
            page: true,
            skin: 'line'
        });

        // 监听搜索操作
        form.on('submit(submit_btn)', function (data) {
            //alert("test")

            var type = document.getElementById("alg").value
            //alert(data)
            //执行搜索重载
            var checkStatus = table.checkStatus('currentTableId')
                    , data = checkStatus.data;
            var result = JSON.stringify(data);
            if(data.length<1)
            {
                layer.msg("请选择进行预处理的企业信息",{icon:5})
            }
            else
            {
                layer.confirm('确认进行预处理？', function (index) {
                table.reload('currentTableId', {
                url: '/ent/process_data',
                method: "POST",
                page: {
                    curr: 1
                }
                , where: {
                    searchParams: result,
                    type: type
                }
            }, 'data'),
                layer.msg("预处理成功提交", {icon: 6});
                layer.close(index)});
            }
            return false;
        });


        /**
         * toolbar监听事件
         */



        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {  // 监听添加操作
                var index = layer.open({
                    title: '添加用户',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: '{% static '/page/table/add.html' %}',
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            } else if (obj.event === 'delete') {  // 监听删除操作
                var checkStatus = table.checkStatus('currentTableId')
                    , data = checkStatus.data;
                var result = JSON.stringify(data)
                layer.confirm('确认进行删除？', function (index) {
                table.reload('currentTableId', {
                url: '/ent/process_data',
                method: "POST",
                page: {
                    curr: 1
                }
                , where: {
                    searchParams: result
                }
            }, 'data'),
                layer.msg("修改已完成", {icon: 6});
                layer.close(index)});
            }
        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;

            if (obj.event === 'show_detail') {
                 var id = $("#id").val();
                 var index = layer.open({
                    title: '查看完整信息',
                     data:{
                        id:"test",
                     },

                    method:"post",
                    type: 2,
                    area: ['720px', '500px'],
                    shade: 0.6,
                    maxmin:true,
                    shadeClose: true,
                    closeBtn:1,
                    area: ['100%', '100%'],
                    content: '/ent/get_data_detail/'+obj.data['t_id']
                });


                return false;
            }
            else if (obj.event === 'update'){
                var id = $("#id").val();
                 var index = layer.open({
                     title: '查看完整信息',
                     data: {
                         id: "test",
                     },

                     method: "post",
                     type: 2,
                     area: ['720px', '500px'],
                     shade: 0.6,
                     maxmin: true,
                     shadeClose: true,
                     closeBtn: 1,
                     area: ['100%', '100%'],
                     content: '/ent/get_data_updatepage/' + obj.data['t_id']
                 })
            }
            else if (obj.event === 'delete') {
                layer.confirm('确认进行删除？', function (index) {

                    $.ajax({
                        url:"/ent/delete_ent_info",
                        type:'GET',
                        data:{'id':obj.data['t_id']},
                        success:function(recv){
                            layer.msg("成功删除此行数据",{icon:6});
                        }
                    });
                    obj.del();
                    layer.close(index);
                });
            }

        });

    });
</script>

</body>
</html>